<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lolly's quick Recipes</title>
    <link rel="stylesheet"  href="/css/styles.css">
</head>
<body>

    <nav>
        <h1><a href="/">Lolly's Recipes</a></h1>
        <ul>
            <li><a href="/login" class="btn">LOG IN</a></li>
            <li><a href="/signup" class="btn">sign up</a></li>
        </ul>
    </nav>
    
</body>
</html>