<%- include('partials/header.ejs'); -%> 

<header>
    <div class="recipes">
        <img src="/chef.png" alt="image">
    </div>

    

    <div class="headings">
    <h2>Quick Recipes</h2>
    <h3>By Ololade for Lolly's Recipes</h3>
    <a href="/recipes" class="btn">View Recipes</a>
</div>
</header>

<%- include('partials/footer.ejs'); -%> 