<%- include('partials/header.ejs'); -%>

<ul class="recipes">
    <li class="recipe">
        <img src="/chicken_wrap.png" alt="food recipe icon">
        <h4><a href="/reps.ejs">Chicken Wrap</a></h4>
        <p>tortilla, chicken, mayo</p>
    </li>

    <li class="recipe">
        <img src="/Crepes.png" alt="food recipe icon">
        <h4>Crepes</h4>
        <p>Flour, eggs, water</p>
    </li>

    <li class="recipe">
        <img src="/mexicantaco.png" alt="food recipe icon">
        <h4>Tacos</h4>
        <p>Tortilla, minced meat, tomatoes</p>
    </li>

    <li class="recipe">
        <img src="/fries&kebab.png" alt="food recipe icon">
        <h4>Beef Kebab and Fries</h4>
        <p>Potatoes, beef, veggies</p>
    </li>

    <li class="recipe">
        <img src="/Healthjuice.png" alt="food recipe icon">
        <h4>Health Juice</h4>
        <p>cucumber, lettuce, ginger</p>
    </li>

    <li class="recipe">
        <img src="/TexMex.png" alt="food recipe icon">
        <h4>TexMex Lasagna</h4>
        <p>groundbeef, pasta sheets, cheese</p>
    </li>
</ul>

<%- include('partials/footer.ejs'); -%>